.list-current{
    background-color:aquamarine;
    height:100vh;
}

.map{
    background-color:chocolate;
    height:100vh;
}

.responsive-container {
    height: 100%;
    position: relative;
}

.main {
    width: 95%;
    margin: 0 auto;
    padding: 60px 0;

    height: 50vh;
    position: relative;
}

/*Alignment */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.header {
    background: white;
    height: 50px;
    min-height: 50px;
}

.footer {
    background: white;
    height: 30px;
    min-height: 30px;
}

.footer .navbar-text {
        margin: 5px 0 0 0;
        width: 100%;
}

#scrollrow {
    height: 100vh;
    overflow: scroll;
}

.list-elem{
    padding: 0px !important;
}
