* {
    margin: 0;
    padding: 0;
}

html, body {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding-top: 26px;
}

.main {
    height: 100%;
    background-color: blue;
    *zoom: 1;
}

#blist {
    background-color: aquamarine;
    height: 90vh;
    padding-right: 0px !important;
    padding-left: 10px !important;
}

.panel {
    overflow: scroll;
}

.panel-beacons {
    height: 90vh;
}

.panel-notifications {
    overflow: auto;
}

.panel-heading{
    background-color: aliceblue;
}

.map {
    background-color: chocolate;
    height: 93vh;
    float: left;
    padding-left: 0px !important;
}

#nlist {
    background-color: antiquewhite;
    width: 40vh;
    height: 60vh;
    z-index: 99 !important;
    position: absolute;
    right: 0;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.header {
    background: white;
    height: 52px;
}

.footer {
    background: white;
    min-height: 4vh;
}

.footer .navbar-text {
    margin: 5px 0 0 0;
    width: 100%;
}