.top{
    background-color:blue !important;
    height:10vh;
}
.mid
{
    background-color:burlywood !important;
    height:80vh;
}
.bot
{
    background-color:aliceblue !important;
    height:10vh;
}
.lista
{
background-color:aquamarine !important;
    height:70vh;
}
.mapa
{
    background-color:chocolate !important;
    height:70vh;
}